@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles applied only during PDF generation to force a desktop-like layout, 
  preventing content from being cut off on mobile.
*/
.pdf-render {
  width: 900px !important;
  max-width: 900px !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; /* Hide it from view while rendering */
}